.dropdown-submenu {
	position: relative;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
}

.container-lg{
	background: rgb(80,80,80);
	background: radial-gradient(circle, rgba(80,80,80,0.26516544117647056) 0%, rgba(148,148,148,1) 100%);-webkit-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
	box-shadow: 8px 8px 24px 0px rgba(0, 0, 0, 1);
	border-radius: 20px;
	padding-bottom: 2rem;

}