body::before {
	content: '';
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 1)),
		url(../images/body/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
#nameBtn {
	color: aqua;
}
.searchBtn {
	color: aqua;
	border-color: aqua;
}
.searchBtn:hover {
	color: aqua;
	background-color: rgb(72, 72, 72);
	border-color: rgb(57, 57, 57);
}
